html, body {
    font-family: sans-serif;
    font-size: 12pt;
    height: 101%;
    margin: 0;
    padding: 0;
}
#container2{
    font-size: 11pt;
    margin: 0;
    padding: 1em;
    width: 100%;
    min-height: 400px;
    float: left;
    margin: 0 0 20px 0;
}
#conatiner3{
    display:inline-block;
    width: 100%;
    min-height: 400px;
    float: right;
    margin: 0 0 20px 0;
}
html {
    background-image: url(../hintergrund.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#Titel{
    color: green;
}
.container {
    background: rgba(153,255,105,0.8);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1.5em;  
}
h1, h2, h4 {
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    margin: 0 0 0.5em 0;
}
h2 {
    color: white;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}