<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>JavaFilter</filter-name>
        <filter-class>rezept.web.JavaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JavaFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>
      StartServlet
    </servlet-name>
        <servlet-class>
      rezept.web.StartServlet
    </servlet-class>
    </servlet>
    <!-- Define Servlet mappings to urls -->
    <servlet-mapping>
        <servlet-name>
      StartServlet
    </servlet-name>
        <url-pattern>
      /WEB-INF/tags/templates/base.tag
    </url-pattern>
    </servlet-mapping>
    <ejb-local-ref>
        <ejb-ref-name>rezeptBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#RezeptBean</ejb-link>
    </ejb-local-ref>
</web-app>
